---
layout: page
title: Careers
permalink: /careers/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">We are hiring!</h1>
          <p class="animated fadeInUp">T-Brain과 함께 할 분들을 찾고 있습니다!</p>
        </div>
      </div>
    </div>
  </div>
</section>








<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">

              <div class="portfolio-contant">

		{% for post in site.posts %}
		  {% if post.tags contains 'careers' %}
		  <div class="post-area">
		    <a href="{{ post.url | prepend: site.baseurl }}">
	 	    <h1>{{ post.title }}</h1>
		    <p href="{{ post.url | prepend: site.baseurl }}" class="post-date">{{ post.date | date: "%m/%d/%Y" }}</p>
		    <p href="{{ post.url | prepend: site.baseurl }}">
		      {{ post.content | strip_html | truncatewords: 50 }}
		    </p>
		  </a>
		  </div>
		  {% endif %}
		{% endfor %}

              </div>
            </div>
          </div>
        </div>
    </div>
</section>






