---
layout: page
title: Careers
permalink: /careers/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>We are hiring!</h1>
          <p>We are actively hiring talented researchers and developers. See below for more details.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}
  {% if post.tags contains 'careers' %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
    <p class="post-date">{{ post.date | date: "%m/%d/%Y" }}</p>
    <p>
      {{ post.content | strip_html | truncatewords: 50 }}
    </p>
  </div>
  {% endif %}
{% endfor %}
