---
layout: page
title: Our News
permalink: /news/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Some of our latest news.</h1>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Portfolio Start -->



<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter=".News">News</li>
                    <li class="filter" data-filter=".Seminar">Seminar</li>
                    <li class="filter" data-filter=".Research">Research</li>
                    <li class="filter" data-filter=".Event">Event</li>
                    <li class="filter" data-filter=".Visitor">Visitor</li>
                </ul>
              </div> 
             <div class="portfolio-contant">
                <ul id="portfolio-contant-active">


		{% for post in site.posts %}
		  {% if post.tags contains 'news' %}
		    <li class="mix Seminar">                       
			<a href="{{ post.url | prepend: site.baseurl }}"  class="bold">
				<img src="{{ post.image }}" alt="">
			        <div>
			        <h1>{{ post.title }}</h1>
			        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			       </div>
		        </a>
                    </li>
		  {% endif %}
		{% endfor %}



                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


