---
layout: page
title: Our News
permalink: /news/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp">Our latest news.</h1>
                    <p class="animated fadeInUp"> T-Brain의 프로젝트, 각종 세미나와 이벤트 정보, 그리고 방문해 주신 연구자 분들을 소개드립니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Portfolio Start -->



<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">All</li>
                    <li class="filter" data-filter=".media">뉴스 기사</li>
                    <li class="filter" data-filter=".seminar">세미나</li>
                    <li class="filter" data-filter=".project">프로젝트</li>
                    <li class="filter" data-filter=".event">이벤트</li>
                    <li class="filter" data-filter=".visitor">방문</li>
                </ul>
              </div> 
             <div class="portfolio-contant">
                <ul id="portfolio-contant-active">


		{% for post in site.posts %}
		  {% if post.tags contains 'news' %}
		    <li class="mix {{ post.tags | join: " " }}">                       
			<a href="{{ post.url | prepend: site.baseurl }}"  class="bold">
				<div class="crop">
				<img src="{{ post.image }}" alt="">
				</div>
			        <div class="preview">
			        <h1>{{ post.title }}</h1>
			        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
			        <p>{{ post.date | date: "%m/%d/%Y" }}</p>
				</div>
		        </a>
                    </li>
		  {% endif %}
		{% endfor %}



                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


