---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h3>{{ page.title }}</h3>
            <div class="post-info-wrapper">
              <p class>{{ page.date | date: "%m/%d/%Y" }}</p>
            </div>
            <hr />
	    <div class="post-content">
            <p>{{ content }}</p>
            </div>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/careers">Back to Careers</a>
</p>
